* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body i {
    font-family:'FontAwesome' !important;
    font-style: normal;
  
    }

html, body {
    font-family: 'Poppins', sans-serif;

}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 16px;
  }



header {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
    
}

header nav ul {
    align-items: center;
}

.logo{
    margin-top: 20px;
    height: 60px;
    width: 280px;
    margin-left: 25px; 
    margin-right: 25px;
}

.logo-container {
    display: none;

}

nav{
    flex: 5;

}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 35px;
}

.nav-link  {
    text-decoration: none;
    margin: 0px 20px;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #2f92a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

li> a:hover {
    background: linear-gradient( #494964,yellow );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog ul{
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-around;
    
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    
}

.intro {
    flex: 1;
    text-align: center;
    margin-top: 50px;

}

.value-prop {
    display: block;
    margin-top: 45px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-left: 2px;
    text-align: center;

    color: rgb(2, 45, 11);
    
    /* background: linear-gradient(to right, #54656a, #427885);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.value-prop-mobile1 {
    display: none;
}

.value-prop-mobile2 {
    display: none;
}

.value-prop-mobile3 {
    display: none;
}

.value-prop-main {
    text-align: right;
    font-style: italic;
    font-family:'FontAwesome'!important;
    margin-right: 24%;
    letter-spacing: 2px;
    margin-top: -8px;

}

.value-defination-mobile {
    display: none;
}


.value-defination1 {
    /* margin-bottom: 60px; */
    margin-top: -30px;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    background: linear-gradient(to right,rgb(48, 47, 47), rgb(62, 53, 53));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    text-align: center;
}

.value-defination1p1{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    background: linear-gradient(to right,rgb(48, 47, 47), rgb(62, 53, 53));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

    text-align: center;
}



.value-defination2 {
    margin-top: 25px;
    font-weight: 300;
    font-size: 50px;
    color:black;
    /* margin-left: 5%; */
}

.value-defination3 {
    margin-top: 25px;
    font-weight: 300;
    font-size: 25px;
    color:black;
    letter-spacing: 4px;
}

.cta {
    padding: 10px 10px;
    width: 32vw;
    margin-top: 30px;
    border: 1px solid #427885;
    border-radius: 8px;
    font-size: 15px;
    text-align: center;
    color: #427885;   
}

.cta-submit  {
    width: 13vw;
    height: 35px;
    cursor: pointer;
    border: 1px solid #427885;
    color: #427885;
    margin-top: 12px;
    /* margin-left: 30%; */
    border-radius: 8px;
    font-size: 17px;
}

.link-icons {
    margin-top: 55px;
}

.link-icon {
    margin-left: 5px;
    margin-right: 5px; 

}

.link-icons > a  {
    text-decoration: none;
    color: #427885;

}


@media screen and (max-width: 700px) {

    /* html, body {
        overflow-y: hidden;
    }   */

    header {
        display: flex;
        width: 90%;
        margin: auto;
        text-align: center;
        align-items: center;
        
    }

    .presentation {
        display: flex;
        width: 90%;
        margin: auto;
        align-items: center;
    }

    
   .logo-container {
       display: block;
       /* float: left; */
       
   }

   .logo {
    /* margin-top: -px; */
    height: 7vh;
    width: 250px; 

   }    

    

    .nav-links li img {
        display: none;
    }

    
    .presentation {
        flex-direction: column;
        /* align-items: center;
        margin: auto; */
    }

   
    .value-prop-main {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    font-family:'FontAwesome'!important;
    margin-right: 8%;
    letter-spacing: 1px;
    margin-top: -5px;

    }

    .value-prop {
        display: none;
    }

    .value-prop-mobile1 {
        display: block;
        margin-top: 25px;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 3px;
        
        text-align: left;
        margin-left: 40px;
        color: rgb(2, 45, 11);
    
    }

    .value-prop-mobile2 {
        display: block;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 3px;
        
        text-align: center;
        color: rgb(2, 45, 11);
        
        /* background: linear-gradient(to right, #54656a, #427885);
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }

    .value-prop-mobile3 {
        display: block;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: 3px;
        
        text-align: right;
        margin-right: 40px;
        color: rgb(2, 45, 11);

    }

    .value-defination-mobile {
        display: block;
        margin-top: -25px;
    
        font-size: 25px;
        font-weight: 300;
        letter-spacing: 2px;
        background: linear-gradient(to right,rgb(48, 47, 47), rgb(62, 53, 53));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        

        text-align: center;

    }
    .value-defination1 {
        display: none;
    }

    .value-defination-blog {
        display: none;
    }

    .value-defination2 {
        margin-top: 40px;
        font-weight: 300;
        font-size: 13px;
        color:black;
        margin-left: 5%;

    }

    .value-defination3 {
        margin-top: 40px;
        font-weight: 300;
        font-size: 17px;
        color:black;
        margin-left: 5%;
        letter-spacing: 7px;

    }

    .cta {
        padding: 10px 10px;
        width: 80vw;
        margin-top: 30px;
        border: 1px solid #427885;
        border-radius: 8px;
        font-size: 15px;
        text-align: center;
        color: #427885;    
    }
    
    .cta-submit  {
        width: 35vw;
        height: 35px;
        cursor: pointer;
        border: 1px solid #427885;
        color: #427885;
        margin-top: 12px;
        /* margin-left: 30%; */
        border-radius: 8px;
        font-size: 17px;
    }

    .link-icons {
        margin-top: 20px;
    }
    
    
    
    .link-icons > a  {
        text-decoration: none;
        color: #427885;
    
    }

   

    

   
}