* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body i {
    font-family:'FontAwesome'!important;
    font-style: normal;
    }

body {
    font-family: 'Poppins', sans-serif;

}

textarea:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}

button:focus, input:focus{
    outline: none;
}

*:focus {
    outline: none;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    opacity: 1; /* Firefox */
    color: rgba(3, 33, 13, 0.8);
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 16px;
    color: rgba(10, 103, 60, 0.8);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    font-size: 16px;
    color: rgba(10, 103, 60, 0.8);
  }

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    background-color: white;
}



header {
    display: flex;
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
}



header nav ul {
    align-items: center;
}

.logo {
    margin-top: -5px;
    height: 40px;
    width: 200px;

}

nav {
    margin-top: 20px;
    flex: 2;

}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    justify-content: flex-end;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 500;
    /*color: rgba(10, 103, 60, 0.8);*/
    color: #0f0f0f;
}

.nav-link-end {
    justify-content: flex-end;
}

.search-bar {
    width: 40vw;
    border: 1px solid #427885;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    height: 45px;
    margin-top: -6px;

}

.search-bar:hover {
    border: 2px solid #427885;
}

.cta-submit  {
    width: 13vw;

    height: 40px;
    cursor: pointer;
    border: 1px solid #427885;
    color: rgba(3, 33, 13, 0.8);
    margin-top: 15px;

    border-radius: 100px;
    font-size: 17px;
}

.cta-submit:hover {
    border: 2px solid #427885;
    font-size: 19px;


}

.nav-categories {
    display: flex;
    width: 100%;
    height: 45px;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: rgba(229, 227, 225, 0.25);

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-links-secondary {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    list-style: none;
    margin-left: -2vw;
}

.nav-link-secondary {
    text-decoration: none;
    width: 90%;
    margin: 0 20px;
    font-size: 15px;
    font-weight: 200;
    /*color: rgba(10, 103, 60, 0.8);*/
    color: #0f0f0f;
}


/* Home Page Designs*/

.value-proposition {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    height: 350px;
    margin-top: 280px;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: rgba(3, 33, 13, 0.8);

}

.paginator-style {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}

.featured {

    display: flex;
    width: 40%;
    background-color: rgba(229, 227, 225, 0.25);
    height: 50px;
    text-align: center;
    align-items: center;


    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    color: rgba(10, 103, 60, 0.8);
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-text {
    margin-left: 15px;
}

.main-content {
    display: flex;
    margin: auto;
    width: 80%;



}

.main-content-details {
    width: 90%;
    height: 200px;
    text-align: justify;
    text-justify: inter-word;

    background-color: rgba(229, 227, 225, 0.25);
    margin-bottom: 50px;

}

.main-content-details > h3, h4, img {
    margin: 5px;
}

.featured-content-image {
    margin-top: 17px;
    width: 300px;
    height: 193px;

}

.featured-image-container {
    height: 230px;
    background-color: rgba(229, 227, 225, 0.25);
    margin-left: 10px;


}



.main-content-details > img {
    width: 99%;
    height: 50%;
}

.main-content-details > h3 {
        color: rgba(10, 103, 60, 0.8);

}


.main-content-details > h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;


}

.published-date-style {
    margin-top: -13px;
    font-size: 15px;
    margin-left: 5px;

}

.main-content-text {
    margin: 5px;
}

.profile-image > img{
    height: 70px;
    width: 70px;
    border-radius: 90%;
    margin-top: -2px;

}

/* all posts */

.all-articles {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 450px;
    grid-gap: 30px;
    background-color: rgba(229, 227, 225, 0.25);
}

.article-card {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 70px 550px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.article-card > img {
    width: 98%;
    margin: 5px;
}

.profile-image-cards > img {
    height: 70px;
    width: 70px;
    border-radius: 90%;
    /*margin-top: -2px;*/

}

.main-content-details-card {
    margin-top: 3px;
    margin-left: -10px;
    width: 96%;
    height: 70px;
    text-align: justify;
    text-justify: inter-word;


}

.main-content-details-card-2 {
    width: 96%;
    height: 550px;
    text-align: justify;
    text-justify: inter-word;
    grid-column-start: 1;
    grid-column-end: 3;


}


.main-content-details-card > h3 {
        color: rgba(10, 103, 60, 0.8);


}

.main-content-details-card > h3 {
    margin: 10px;
}


.main-content-details-card > p {
    margin-top: -13px;
    margin-bottom: 10px;
    margin-left: 10px;

}

.main-content-details-card-2 > p, h4 {
    margin: 15px;
}

footer {
    background-color: rgba(229, 227, 225, 0.25);
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;

}

/*.footer-links > ul {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/


/*}*/

/*li, a {*/
/*    text-decoration: none;*/
/*    list-style: none;*/
/*    color: #0f0f0f;*/
/*    font-size: 13px;*/

/*}*/

/*.footer-note {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    font-size: 13px;*/
/*    margin-top: 5px;*/

/*}*/
