{% extends 'coreaccounts/base-marathon.html' %}
{% load static %}

{% block title %}
    Home| Kitabalaya
{% endblock %}

{% block nav-link %}
    <header>

    <nav class="mobile-only">


    </nav>

        <nav>
            <ul class="nav-links">
                <li><img class="logo" src="{% static 'comingsoon/img/kitabalaya-logo.png' %}" alt="Kitabalaya:Book a book"></li>
            </ul>

            <div class="logo-container">
                <img class="logo" src="{% static 'comingsoon/img/kitabalaya-logo.png' %}" alt="Kitabalaya:Book a book">
            </div>
        </nav>

        <nav>



        </nav>





    </header>

    <nav>
             <ul class="nav-links-secondary">

                    <li class="nav-link"><a href=""> ABOUT</a></li>
                    <li class="nav-link"><a href=""> BOARD</a></li>

                    <li class="nav-link"><a href=""> RULES</a></li>
                    <li class="nav-link"><a href="{% url 'user-logout' %}"> LOGOUT</a></li>
             </ul>

    </nav>



{% endblock %}
{% block body %}
    <main>

        <h2 class="value-prop">“Good friends, Good books and Kitabalaya”</h2>

        <h2 class="value-prop-mobile1">Good friends,</h2>
        <h2 class="value-prop-mobile2 h2">Good books &</h2>
        <h2 class="value-prop-mobile3 h2">Kitabalaya.</h2>



        <div class="presentation">


            <div class="intro">
                <h2 class="value-defination1 ">KITABALAYA'S READING MARATHON</h2>

                <h2 class="value-defination-mobile ">KITABALAYA'S READING MARATHON</h2>



                <p class="value-defination2"></p> Get a chance to win six month free premium membership, Kitabalaya's Merchandise and a book of your choice. </p>
                <p class="value-defination3">JOIN A TEAM NOW</p>
            </div>

        </div>


    </main>


<div class="presentation-card">


        <div class="team-card desktop-view">
            <div class="card-box">
                <h4>TEAM KAFKA</h4>
                <img class="team-book-image" src="{% static 'marathon/img/kafkaonshore.jpeg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>
        <div class="team-card desktop-view">
            <div class="card-box">
                <h4>TEAM ORIGIN</h4>
                <img class="team-book-image" src="{% static 'marathon/img/origin.jpeg' %}" alt="Kafka on the shore">
               <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>


        <div class="team-card desktop-view">
            <div class="card-box">
                <h4>TEAM CITY OF JOY</h4>
                <img class="team-book-image" src="{% static 'marathon/img/cityofjoy.jpg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>

            </div>
        </div>
        <div class="team-card desktop-view">
            <div class="card-box">
                <h4>TEAM OUTSIDER</h4>
                <img class="team-book-image" src="{% static 'marathon/img/outsider.jpg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>







    <div class="tablet-view mobile-view">
        <div class="team-card">
            <div class="card-box">
                <h4>TEAM KAFKA</h4>
                <img class="team-book-image" src="{% static 'marathon/img/kafkaonshore.jpeg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>
        <div class="team-card">
            <div class="card-box">
                <h4>TEAM ORIGIN</h4>
                <img class="team-book-image" src="{% static 'marathon/img/origin.jpeg' %}" alt="Kafka on the shore">
               <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>
    </div>
    <div class="tablet-view mobile-view">
        <div class="team-card">
            <div class="card-box">
                <h4>TEAM CITY OF JOY</h4>
                <img class="team-book-image" src="{% static 'marathon/img/cityofjoy.jpg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>

            </div>
        </div>
        <div class="team-card">
            <div class="card-box">
                <h4>TEAM OUTSIDER</h4>
                <img class="team-book-image" src="{% static 'marathon/img/outsider.jpg' %}" alt="Kafka on the shore">
                <form method="POST">
                    <button CLASS="cta-submit" type="submit">JOIN TEAM</button>
                </form>
            </div>
        </div>
    </div>











</div>


{% endblock %}