{% extends 'blog/base.html' %}
{% load static %}


{% block content %}

    <main>

        <div class="value-proposition">
            <h1> We are here to help you make a choice.</h1>
            <h1>A <span style="color: #8a6d3b"> CHOICE</span> to <span style="color: #8a6d3b"> READ</span> more.</h1>

            <input class="search-bar" type="search" style="margin-top: 40px;" placeholder="Search Kitabalaya's Articles, Books & Authors">
            <button type="submit" class="cta-submit">Search</button>


        </div>

        <div class="featured">
                         <span class="article-text">Featured Article</span>
        </div>


        <div class="main-content">
            <div class="profile-image">
                <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
            </div>

            <div class="main-content-details">
                <h3 >Paritosh Sharma Ghimire</h3>
                <p class="published-date-style" ><i>Dec 4, 2019 - 3 Min Read</i></p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. A alias assumenda autem consectetur culpa, dolor enim </p>
            </div>

{#            <div class="featured-image-container">#}
{#                                            <img class="featured-content-image" src="{% static 'blog/img/gulabi umer.jpg'   %}" alt="User Profile Image">#}
{##}
{##}
{#            </div>#}
        </div>

         <div class="main-content">
            <div class="profile-image">
                <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
            </div>
{#                            <img src="{% static 'blog/img/gulabi umer.jpg'   %}" alt="User Profile Image">#}

            <div class="main-content-details">
                <h3 >Paritosh Sharma Ghimire</h3>
                <p class="published-date-style" ><i>Dec 4, 2019 - 3 Min Read</i></p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. A alias assumenda autem consectetur culpa, dolor enim </p>
            </div>
        </div>

{#        <div class="w3-bar paginator-style">#}
{#              <a href="#" class="w3-button">&laquo;</a>#}
{#              <a href="#" class="w3-button">1</a>#}
{#              <a href="#" class="w3-button">2</a>#}
{#              <a href="#" class="w3-button">3</a>#}
{#              <a href="#" class="w3-button">4</a>#}
{#              <a href="#" class="w3-button">&raquo;</a>#}
{#        </div>#}



        <div class="featured">
            <span class="article-text">WHAT'S NEW ON KITABALAYA</span>
        </div>


        <div class="all-articles">
            <div class="article-card">
                <div class="profile-image-cards">
                     <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
                </div>
                <div class="main-content-details-card">
                    <h3 >Paritosh Sharma Ghimire</h3>
                    <p ><i >Dec 4, 2019 - 3 Min Read</i></p>

                </div>
                <div class="main-content-details-card-2">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. </p>
                </div>

            </div>
            <div class="article-card">
                <div class="profile-image-cards">
                     <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
                </div>
                <div class="main-content-details-card">
                    <h3 >Paritosh Sharma Ghimire</h3>
                    <p style="margin-top: -13px;"><i >Dec 4, 2019 - 3 Min Read</i></p>

                </div>
                <div class="main-content-details-card-2">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. </p>
                </div>

            </div>
            <div class="article-card">
                <div class="profile-image-cards">
                     <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
                </div>
                <div class="main-content-details-card">
                    <h3 >Paritosh Sharma Ghimire</h3>
                    <p style="margin-top: -13px;"><i >Dec 4, 2019 - 3 Min Read</i></p>

                </div>
                <div class="main-content-details-card-2">
                    <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. </p>
                </div>

            </div>



        </div>


        <div class="featured">
                         <span class="article-text">Reviews</span>
        </div>


        <div class="main-content">
            <div class="profile-image">
                <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
            </div>
{#                            <img src="{% static 'blog/img/gulabi umer.jpg'   %}" alt="User Profile Image">#}

            <div class="main-content-details">
                <h3 >Paritosh Sharma Ghimire</h3>
                <p class="published-date-style" ><i>Dec 4, 2019 - 3 Min Read</i></p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. A alias assumenda autem consectetur culpa, dolor enim </p>
            </div>
        </div>

         <div class="main-content">
            <div class="profile-image">
                <img src="{% static 'blog/img/profile-image.jpg'   %}" alt="User Profile Image">
            </div>
{#                            <img src="{% static 'blog/img/gulabi umer.jpg'   %}" alt="User Profile Image">#}

            <div class="main-content-details">
                <h3 >Paritosh Sharma Ghimire</h3>
                <p class="published-date-style" ><i>Dec 4, 2019 - 3 Min Read</i></p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>


                <p class="main-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad alias asperiores atque consequatur consequuntur debitis deleniti facilis laborum laudantium molestiae nemo numquam quaerat quisquam ratione rem, repellat rerum sint sit soluta unde vel voluptatum. Aliquam, at consequuntur cumque dignissimos earum ex hic, iure laborum nemo repudiandae sunt vero voluptas voluptate. A alias assumenda autem consectetur culpa, dolor enim </p>
            </div>
        </div>




    </main>

    <footer>

{#        <div class="footer-links">#}
{#            <ul>#}
{#                <li><a href="https://www.kitabalaya.com">Kitabalaya</a></li>#}
{#                <li><a href="#">About Us</a></li>#}
{#                <li><a href="#">Contact Us</a></li>#}
{##}
{#            </ul>#}
{#        </div>#}
        <div class="footer-note">
                    © 2020, Dataosphere Incorporated Pvt. Ltd. All rights reserved.



        </div>

{#        <div class="footer-links">#}
{#            <ul>#}
{#                <li><a href="#">Privacy Polices</a></li>#}
{#                <li><a href="#">Terms and Conditions</a></li>#}
{#                <li><a href="#">Report Plagiarism</a></li>#}
{#            </ul>#}
{#        </div>#}





    </footer>




{% endblock %}