{% extends 'coreaccounts/base-marathon.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <main>




        <div class="presentation">


            <div class="intro">


                <div class="success-message">
                  {% if messages %}
                    {% for message in messages %}
                        {% if color %}
                            <div style="margin-top: 20px; color: red;">

                                    {{ message }}

                            </div>
                        {% else %}
                            <div style="margin-top: 20px; color: green;">

                                {{ message }}

                            </div>
                        {% endif %}


                    {% endfor %}

                     {% endif %}
                </div>
                <div class="registration-flex">


                    <div class="login-from">
                        <h3 class="register-heading">Login to Continue...</h3>


                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <p><small>Forget your password?  <a href="{% url 'password_reset' %}">Reset Here..</a></small> </p>

                             <br>

                            <button type="submit" class="cta-submit">Login</button>


                        </form>
                        <div class="registration-login-link">
                            <p><small>Need an account?  <a href="{% url 'user-register' %}">Register Here..</a></small> </p>

                        </div>
                    </div>
                    </div>

                </div>


        </div>
    </main>




{% endblock %}