{% extends 'coreaccounts/base-marathon.html' %}




{% block body %}

        <div class="presentation">

    <div class="intro">


        <div class="registration-flex">

             <div class="password-reset-from">
                    <h3 class="register-heading">Enter Your New Password</h3>

                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                         <br>

                        <button type="submit" class="cta-submit">SUBMIT</button>

                    </form>
                    <div class="registration-login-link">
                        <p><small>Need an account?  <a href="{% url 'user-login' %}">Register here..</a></small> </p>

                    </div>
             </div>
        </div>
    </div>

  </div>


{% endblock %}