{% extends 'coreaccounts/base-marathon.html' %}




{% block body %}



    <div class="intro">


        <div class="registration-flex">

             <div class="password-reset-from">
                    <h3 class="register-heading">Your password has been changed successfully . Please Login to Proceed.</h3>



                        <a href="{% url 'user-login' %}"><button type="button" class="cta-submit">Login</button></a>
                  <div class="registration-login-link">
                        <p><small>Need an account?  <a href="{% url 'user-login' %}">Register here..</a></small> </p>

                    </div>
             </div>
        </div>
    </div>

  </div>



{% endblock %}