{% extends 'coreaccounts/base-marathon.html' %}


{% block title %}
    Registartion Failed | Kitabalaya
{% endblock %}

{% block body %}

<div class="presentation">

    <div class="intro">


        <div class="registration-flex">

             <div class="password-reset-from">

                 <h3 class="register-heading">You have either already activated your account or an error has occurred !!!</h3>
                 <br>
                 <h2 class="register-heading">If you think this is a mistake, please reach us at<h2>
                     <br>
                     <h2 class="register-heading">contact@kitabalaya.info</h2>


             </div>
        </div>
    </div>

  </div>






{% endblock %}