<h3>Greeting from Kitabalaya,</h3>

<p>You're receiving this email because you have registered an account at www.kitabalaya.com</p>

<p>Your are registered under the following email: {{ email }} </p>

<p>Please go to the following page and activate your account:<p>
<br>

<p><a href='{{ path }}'> {{ path }} </a></p>
<br>
<p>Once you activate your account, you can login.</p>

<p>Thank you for joining.</p>

<p>Kitabalaya: Book a book<p></p>
<p>Good Friends, Good Book and Kitabalaya.</p>

<h1>The Kitabalaya Team</h1>
