{% extends 'core/base.html' %}
{% load static %}


{% block title %}
    {{ title }}  {{ block.super }}
{% endblock %}


{% block body %}
    <div class="category-wrapper">

{#        <div class="breadcrumb-wrapper">#}
{#            <ul>#}
{#                <li>Home</li>#}
{#                <li>Categories</li>#}
{#                <li>Fiction & Literature</li>#}
{#            </ul>#}
{#        </div>#}


        <h2 class="title-header-category"></h2>
        <div class="featured-category">

            <div class="arrow-left-next arrow-select arrow-transform ">

                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0yIDEybC00LjUgNC41IDEuNTI3IDEuNSA1Ljk3My02LTUuOTczLTYtMS41MjcgMS41IDQuNSA0LjV6Ii8+PC9zdmc+">


            </div>



            {% for featured_book in banner_books %}
                 <div class="featured-category-each">
                        <div class="featured-title-img">
                            {% if featured_book.book_image %}
                               <img src="{{ featured_book.book_image.url }}" alt="">

                            {% endif %}

                        </div>
                        <div class="featured-title-details">
                            <h2 class="cat-style">{{ featured_book.title| truncatechars:20 }}</h2>


                            <small class="cat-style">by <span class="author-name">{{ featured_book.author_name.name }}</span></small>

                             <div class="rating-wrapper">
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                 <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                             </div>

                            <p class="featured-genre-details">
                                {{ featured_book.summary| truncatechars:100 }}
                            </p>



                            <div class="purchase-details">
                                {% if featured_book.in_stock_buy == 0 and featured_book.in_stock_rent == 0 %}
                                    <h2 class="out-of-stock">OUT OF STOCK</h2>
                                    <div class="purchase-button">
                                        <button type="button" class="restocked-button">GET RESTOCKED ALERT</button>

                                    </div>

                                {% elif featured_book.in_stock_buy == 0 %}
                                    <h2 class="cat-style">RS. {{ featured_book.rental_price }}/day</h2>

                                    <div class="purchase-button ">
                                        <button type="button">ADD TO CART</button>
                                            <div class="dropdown">
                                                <button value={{ featured_book.slug }} name="rent-button" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Used)</small></button>

                                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+">

                                                <div class="buy-rent-dropdown no-view">
                                                    <button  value={{ featured_book.slug }} class="rent-buy-card" name="buy-new"  type="button">BUY<small style="color: var(--default-color)">(Brand New)</small></button>
                                                    <button value={{ featured_book.slug }} name="rent-new" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Brand New)</small></button>
                                                </div>
                                            </div>
                                        </div>


                                {% elif featured_book.in_stock_rent == 0 %}
                                    <h2 class="cat-style">RS. {{ featured_book.mrp_price }}</h2>

                                     <div class="purchase-button ">
                                        <button type="button">ADD TO CART</button>
                                        <div class="dropdown">

                                            <button  value={{ featured_book.slug }} class="rent-buy-card" name="buy-new"  type="button">BUY<small style="color: var(--default-color)">(Brand New)</small></button>
                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+">

                                            <div class="buy-rent-dropdown no-view">
                                                <button value={{ featured_book.slug }} name="rent-new" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Brand New)</small></button>
                                                <button value={{ featured_book.slug }} name="rent-button" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Used)</small></button>
                                            </div>
                                        </div>
                                     </div>





                                {% endif %}


                            </div>
                        </div>
                    </div>



            {% endfor %}

            <div class="arrow-right-next arrow-select">

                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0yIDEybC00LjUgNC41IDEuNTI3IDEuNSA1Ljk3My02LTUuOTczLTYtMS41MjcgMS41IDQuNSA0LjV6Ii8+PC9zdmc+">


            </div>





        </div>


       <div class="category-descendent">


           <div class="descendents">
{#               <h2 class="title-header-category">Books in Fiction & Literature</h2>#}

               <ul>
                   <li class="title-header-category selected-category">All</li>


                   {% for genre in genre_in %}
                       <li class="title-header-category">{{ genre }}</li>

                   {% endfor %}

               </ul>
           </div>
       </div>


        <div class="book-display-category">
            {% for allbook in all_books %}
                <div class="featured-category-each-cat">
                    <div class="featured-title-img">
                        <img src="{{ allbook.book_image.url }}" alt="">

                    </div>



                    <div class="featured-title-details">
                        <h2 class="cat-style">{{ allbook.title| truncatechars:20  }}</h2>
                        <small class="cat-style">by <span class="author-name">{{ allbook.author_name.name }}</span></small>

                         <div class="rating-wrapper">
                            <button type="button" class="fa fa-star each-fa checked"></button>
                            <button type="button" class="fa fa-star each-fa checked"></button>
                            <button type="button" class="fa fa-star each-fa checked"></button>
                            <button type="button" class="fa fa-star each-fa"></button>
                            <button type="button" class="fa fa-star each-fa"></button>

                         </div>


                        <p class="featured-genre-details">
                            {{ allbook.summary| truncatechars:100 }}
                        </p>


                         <div class="purchase-details">
                                {% if allbook.in_stock_buy == 0 and allbook.in_stock_rent == 0 %}
                                    <h2 class="out-of-stock">OUT OF STOCK</h2>
                                    <div class="purchase-button">
                                        <button type="button" class="restocked-button">GET RESTOCKED ALERT</button>

                                    </div>

                                {% elif allbook.in_stock_buy == 0 %}
                                    <h2 class="cat-style">RS. {{ allbook.rental_price }}/day</h2>

                                    <div class="purchase-button ">
                                        <button type="button">ADD TO CART</button>
                                            <div class="dropdown">
                                                <button value={{ allbook.slug }} name="rent-button" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Used)</small></button>

                                                <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+">

                                                <div class="buy-rent-dropdown no-view">
                                                    <button  value={{ allbook.slug }} class="rent-buy-card" name="buy-new"  type="button">BUY<small style="color: var(--default-color)">(Brand New)</small></button>
                                                    <button value={{ allbook.slug }} name="rent-new" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Brand New)</small></button>
                                                </div>
                                            </div>
                                        </div>


                                {% elif allbook.in_stock_rent == 0 %}
                                    <h2 class="cat-style">RS. {{ allbook.mrp_price }}</h2>

                                     <div class="purchase-button ">
                                        <button type="button">ADD TO CART</button>
                                        <div class="dropdown">

                                            <button  value={{ allbook.slug }} class="rent-buy-card" name="buy-new"  type="button">BUY<small style="color: var(--default-color)">(Brand New)</small></button>
                                            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+">

                                            <div class="buy-rent-dropdown no-view">
                                                <button value={{ allbook.slug }} name="rent-new" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Brand New)</small></button>
                                                <button value={{allbook.slug }} name="rent-button" type="button" class="rent-buy-card">RENT<small style="color: var(--default-color)">(Used)</small></button>
                                            </div>
                                        </div>
                                     </div>





                                {% endif %}


                            </div>




                    </div>

                </div>
            {% endfor %}



        </div>


    </div>










{% endblock %}




