{% extends 'core/base.html' %}
{% load static %}
{% load tagLibrary %}



{% block title %}
    {{ title }}  {{ block.super }}
{% endblock %}

{% block body %}
    <div class="breadcrumbs">
        <p><a href="{% url 'home' %}">Books</a> > <span class="current"> {{ category_title|lower }} </span></p>


    </div>



    <div class="rental-popup-wrapper no-view">
        <div class="close-btn">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+">

        </div>

        <div class="content-wrapper-rental-popup">

            <h2 id="title-id" class="cat-style" >Kafka On The Shore</h2>



            <h4 id="rental" class="mtop cat-style"> Rental Charge&nbsp:&nbsp Rs.15/day</h4>

            <div class="dpflex">
                <h4 id="depo" class="cat-style"> Refundable Security Deposit: Rs.800</h4>
                <img class="faqbtn" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0xLjI1IDE3YzAgLjY5LS41NTkgMS4yNS0xLjI1IDEuMjUtLjY4OSAwLTEuMjUtLjU2LTEuMjUtMS4yNXMuNTYxLTEuMjUgMS4yNS0xLjI1Yy42OTEgMCAxLjI1LjU2IDEuMjUgMS4yNXptMS4zOTMtOS45OThjLS42MDgtLjYxNi0xLjUxNS0uOTU1LTIuNTUxLS45NTUtMi4xOCAwLTMuNTkgMS41NS0zLjU5IDMuOTVoMi4wMTFjMC0xLjQ4Ni44MjktMi4wMTMgMS41MzgtMi4wMTMuNjM0IDAgMS4zMDcuNDIxIDEuMzY0IDEuMjI2LjA2Mi44NDctLjM5IDEuMjc3LS45NjIgMS44MjEtMS40MTIgMS4zNDMtMS40MzggMS45OTMtMS40MzIgMy40NjhoMi4wMDVjLS4wMTMtLjY2NC4wMy0xLjIwMy45MzUtMi4xNzguNjc3LS43MyAxLjUxOS0xLjYzOCAxLjUzNi0zLjAyMi4wMTEtLjkyNC0uMjg0LTEuNzE5LS44NTQtMi4yOTd6Ii8+PC9zdmc+">
            </div>

            <p class="faqsp no-view">The Refundable Security Deposit is for the safety of the book.
                The deposit will be returned to you once you return us the book.
                <br>
                In case you are renting multiple books without <span style="color: var(--default-color)">Membership Plan</span>, the final security deposit will be displayed at the time of checkout.

            </p>
            <div class="dpflex">
                <h4 class="cat-style"> Minimum Rental Period: 7 Days</h4>
                <img class="faqbtnone" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0xLjI1IDE3YzAgLjY5LS41NTkgMS4yNS0xLjI1IDEuMjUtLjY4OSAwLTEuMjUtLjU2LTEuMjUtMS4yNXMuNTYxLTEuMjUgMS4yNS0xLjI1Yy42OTEgMCAxLjI1LjU2IDEuMjUgMS4yNXptMS4zOTMtOS45OThjLS42MDgtLjYxNi0xLjUxNS0uOTU1LTIuNTUxLS45NTUtMi4xOCAwLTMuNTkgMS41NS0zLjU5IDMuOTVoMi4wMTFjMC0xLjQ4Ni44MjktMi4wMTMgMS41MzgtMi4wMTMuNjM0IDAgMS4zMDcuNDIxIDEuMzY0IDEuMjI2LjA2Mi44NDctLjM5IDEuMjc3LS45NjIgMS44MjEtMS40MTIgMS4zNDMtMS40MzggMS45OTMtMS40MzIgMy40NjhoMi4wMDVjLS4wMTMtLjY2NC4wMy0xLjIwMy45MzUtMi4xNzguNjc3LS43MyAxLjUxOS0xLjYzOCAxLjUzNi0zLjAyMi4wMTEtLjkyNC0uMjg0LTEuNzE5LS44NTQtMi4yOTd6Ii8+PC9zdmc+">

            </div>

            <p class="faqspone no-view">
                When you rent from us, you will be charged for a <span style="color: var(--default-color)">minimum period of 7 days</span>. After a week,additionally, you will be charged on per day basis.
                You can keep the book for a maximum period of 30 days.
            </p>

            <br>

            <form action="{% url 'update-cart' %}" method="post">

                <button class="addtocart" type="submit">ADD TO CART</button>

            </form>
        </div>
    </div>


    <div class="category-wrapper">



        <div class="filter-category">
                <div class="category-genre-wrap">
                    <p class="filter-category-heading">Sort by Sub-Genre</p>
                    {% for genre in genre_in %}
                        <form method="GET" action="{% url 'get-filtered' %}"  class="each-category-genre">
                            {% csrf_token %}
                            <input value="{{ genre.slug }}" type="checkbox">
                            <p>{{ genre }}</p>
                        </form>
                    {% endfor %}


                </div>

                <div class="category-lang-wrap">
                    <p class="filter-category-heading">Sort by Language</p>
                        {% for language in languages %}

                            <form method="GET" action="{% url 'get-filtered' %}"  class="each-category-genre">
                                {% csrf_token %}
                                <input value="{{ language.slug }}" type="checkbox">
                                <p>{{ language }}</p>
                            </form>


                        {% endfor %}




                </div>

                <div class="category-price-wrap">
                    <p class="filter-category-heading">Sort by Price</p>



                        <div class="each-category-genre">
                            <input value="ltoh" type="checkbox">
                            <p>From Low to High</p>
                        </div>

                        <div class="each-category-genre">
                            <input value="htol" type="checkbox">
                            <p>From High to Low</p>
                        </div>







                </div>


                 <div class="category-gen-sort-wrap">
                    <p class="filter-category-heading">Sort by:</p>
                     {% for sort_cat in sort_category %}
                         <form method="GET" action="{% url 'get-filtered' %}"  class="each-category-genre">
                                {% csrf_token %}
                                <input value="{{ sort_cat.slug }}" type="checkbox">
                                <p>{{ sort_cat }}</p>
                         </form>



                     {% endfor %}



                </div>









        </div>

        <div class="book-display-category">
            {% for allbook in all_books %}
                <div class="featured-category-each-cat">
                    <div class="featured-title-img">
                        <img src="{{ allbook.book_image.url }}" alt="">

                    </div>



                    <div class="featured-title-details">
                        <h2 class="cat-style">{{ allbook.title| truncatechars:15  }}</h2>
                        <small class="cat-style">by <span class="author-name">{{ allbook.author_name.name }}</span></small>
{#                        <div class="rating-wrapper">#}
{#                            #}
{#                                #}
{#                            #}
{#                            #}
{#                                <svg class="rating-btn" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="red"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>#}
{#                                <svg class="rating-btn" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>#}
{#                                <svg class="rating-btn" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>#}
{#                                <svg class="rating-btn" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>#}
{#                                <svg class="rating-btn" xmlns="http://www.w3.org/2000/svg" height="15px" viewBox="0 0 24 24" width="15px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>#}
{#                        </div>#}
{##}



                        <p class="featured-genre-details">
                            {{ allbook.summary| truncatechars:100 }}
                        </p>


                        {% include 'core/snippets/cart-btn.html' with book=allbook %}



                    </div>

                </div>
            {% endfor %}



        </div>


{#        <div class="view-more-btn">#}
{##}
{#            <button  class="buy-btn" type="submit"> BUY </button>#}
{##}
{##}
{#        </div>#}


    </div>

{#    <h2 class="title-header-category"></h2>#}
{#        <div class="featured-category">#}
{##}
{#            {% for book in banner_books %}#}
{#                <div class="featured-category-each">#}
{#                        <div class="featured-title-img">#}
{#                            {% if book.book_image %}#}
{#                               <img src="{{ book.book_image.url }}" alt="">#}
{##}
{#                            {% endif %}#}
{##}
{#                        </div>#}
{#                        <div class="featured-title-details">#}
{#                            <h2 class="cat-style">{{ book.title| truncatechars:20 }}</h2>#}
{#                            <small class="cat-style">by <span class="author-name">{{ book.author_name.name }}</span></small>#}
{#                             <div class="rating-wrapper">#}
{#                                <button type="button" class="fa fa-star each-fa checked"></button>#}
{#                                <button type="button" class="fa fa-star each-fa checked"></button>#}
{#                                 <button type="button" class="fa fa-star each-fa checked"></button>#}
{#                                <button type="button" class="fa fa-star each-fa"></button>#}
{#                                <button type="button" class="fa fa-star each-fa"></button>#}
{#                             </div>#}
{#                            <p class="featured-genre-details">#}
{#                                {{ book.summary| truncatechars:70 }}#}
{#                            </p>#}
{#                            {% include 'core/snippets/cart-btn.html' %}#}
{##}
{##}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{##}
{##}
{#            {% endfor %}#}
{##}
{#        </div>#}
{##}
{##}
{##}







{% endblock %}




