{% extends 'core/base.html' %}
{% load tagLibrary %}
{% load static %}


{% block title %}
    {{ title }} {{ block.super }}

{% endblock %}


{% block body %}


    <div class="banner-wrapper">

        <svg id="prev-banner-btn" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#3A3A3A"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"/></svg>

        <div class="banner-collection">
            {% for banner in banners %}
                {% if forloop.counter == 1 %}
                    <img class="banner-active each-banner" src="{{ banner.banner_img.url  }}" alt="">
                {% else %}
                    <img class="each-banner" src="{{ banner.banner_img.url  }}" alt="">
                {% endif %}

            {% endfor %}





        </div>
        <svg id="next-banner-btn" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20px" viewBox="0 0 24 24" width="20px" fill="#3A3A3A"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"/></g></svg>



    </div>



    <div class="search-home-wrap">
        <form method="post">
                {% csrf_token %}
                <label class="search-box-wrapper">
                    <input class='search-box' id="search-box-id" type="search" autocomplete="off"
                           placeholder="Your favourite book is one search away!">
                    {#                    <img alt='kitabalaya search end' class="no-view" id="search-end" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+">#}
                </label>
                <div class="search-button-wrapper">
                    <button class="search-button" type="submit">SEARCH</button>
                    <button class="search-button" type="reset">CLEAR</button>
                </div>
            </form>

        <div class="search-result-wrapper">
            <div class="search-result">


                <div class="search-button-wrapper drop-result-button">
                    <button class="search-button" type="submit">VIEW ALL</button>
                    <button id="clear-drop-result-button" class="search-button" type="reset">CLEAR</button>
                </div>
            </div>
        </div>

    </div>



    <div class="main-content-wrapper">
        <div class="best-sellers">
            <h2> BEST SELLERS</h2>
            <div class="the-books-wrapper">
                 <div class="arrow-select  arrow-left-next">

                     <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="#3A3A3A"><path d="M0 0h24v24H0V0z" fill="none" opacity=".87"/><path d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"/></svg>
                 </div>

                {% for book in home_books_category %}
                    <div class="featured-category-each">
                        <div class="featured-title-img">
                            {% if book.book_image %}
                               <img src="{{ book.book_image.url }}" alt="">

                            {% endif %}

                        </div>
                        <div class="featured-title-details">
                            <h2 class="cat-style">{{ book.title| truncatechars:20 }}</h2>
                            <small class="cat-style">by <span class="author-name">{{ book.author_name.name }}</span></small>
                             <div class="rating-wrapper">
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                 <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                             </div>
                            <p class="featured-genre-details">
                                {{ book.summary| truncatechars:70 }}
                            </p>
                          {% include 'core/snippets/cart-btn.html' %}

                        </div>
                    </div>


                {% endfor %}




                 <div class="arrow-select arrow-right-next">

                     <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="20px" viewBox="0 0 24 24" width="20px" fill="#3A3A3A"><g><path d="M0,0h24v24H0V0z" fill="none"/></g><g><polygon points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"/></g></svg>


                 </div>

            </div>
        </div>


    </div>








{% endblock %}