{% extends 'core/base.html' %}
{% load tagLibrary %}
{% load static %}


{% block title %}
    {{ title }} {{ block.super }}

{% endblock %}


{% block body %}
    <div class="banner-wrapper" id="banner-img-id">

        <div class="each-banner">
            {% for banner in banners %}
               {% if forloop.first %}
                    <img class="banner banner-active" src="{{ banner.banner_img.url }}" alt="">
               {% else %}
                   <img class="banner banner-off"  src="{{ banner.banner_img.url }}" alt="">


               {% endif %}
            {% endfor %}
        </div>
        <div class="navigation-banner-button-wrapper">
            <button class="bannerbtn hover-style" id="bb0" role="button"></button>
            <button class="bannerbtn" id="bb1" role="button"></button>
            <button class="bannerbtn" id="bb2" role="button"></button>
            <button class="bannerbtn" id="bb3" role="button"></button>
        </div>
        <form method="post">
            {% csrf_token %}
            <label class="search-box-wrapper">
                <input class='search-box' id="search-box-id" type="search" autocomplete="off"
                       placeholder="Your favourite book is one search away!">
                {#                    <img alt='kitabalaya search end' class="no-view" id="search-end" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMjMuOTU0IDIxLjAzbC05LjE4NC05LjA5NSA5LjA5Mi05LjE3NC0yLjgzMi0yLjgwNy05LjA5IDkuMTc5LTkuMTc2LTkuMDg4LTIuODEgMi44MSA5LjE4NiA5LjEwNS05LjA5NSA5LjE4NCAyLjgxIDIuODEgOS4xMTItOS4xOTIgOS4xOCA5LjF6Ii8+PC9zdmc+">#}
            </label>
            <div class="search-button-wrapper">
                <button class="search-button" type="submit">SEARCH</button>
                <button class="search-button" type="reset">CLEAR</button>
            </div>
        </form>
    </div>

    <div class="search-result-wrapper">

        <div class="search-result">


            <div class="search-button-wrapper drop-result-button">
                <button class="search-button" type="submit">VIEW ALL</button>
                <button id="clear-drop-result-button" class="search-button" type="reset">CLEAR</button>
            </div>
        </div>
    </div>


        <div class="best-sellers">
            <h2> BEST SELLERS</h2>
            <div class="the-books-wrapper">
                 <div class="arrow-select arrow-transform arrow-left-next">

                     <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0yIDEybC00LjUgNC41IDEuNTI3IDEuNSA1Ljk3My02LTUuOTczLTYtMS41MjcgMS41IDQuNSA0LjV6Ii8+PC9zdmc+">
                 </div>

                {% for book in home_books_category %}
                    <div class="featured-category-each">
                        <div class="featured-title-img">
                            {% if book.book_image %}
                               <img src="{{ book.book_image.url }}" alt="">

                            {% endif %}

                        </div>
                        <div class="featured-title-details">
                            <h2 class="cat-style">{{ book.title| truncatechars:20 }}</h2>


                            <small class="cat-style">by <span class="author-name">{{ book.author_name.name }}</span></small>

                             <div class="rating-wrapper">
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa checked"></button>
                                 <button type="button" class="fa fa-star each-fa checked"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                                <button type="button" class="fa fa-star each-fa"></button>
                             </div>

                            <p class="featured-genre-details">
                                {{ book.summary| truncatechars:70 }}
                            </p>

                            {%  if book.in_stock_buy == 0 and book.in_stock_rent == 0 %}
                                <div class="purchase-details">
                                    <h2 class="out-of-stock">OUT OF STOCK</h2>
                                    <div class="purchase-button">
                                        <button type="button" class="restocked-button">GET RESTOCKED ALERT</button>

                                    </div>



                                </div>

                            {% elif book.in_stock_buy == 0 and book.in_stock_rent != 0 %}
{#                                 rent   #}
                                 <div class="purchase-details">

                                    <div class="price-display">

                                        <p style="margin-top: 10px;">Rent &nbsp:&nbsp रु. {{ book.rental_price|to_int  }}/day</p>


                                    </div>

                                    <div class="purchase-button">

                                        <button style="margin-left: 0;" class="restocked-button"> RENT THE BOOK </button>

                                    </div>

                                </div>


                            {% elif book.in_stock_buy != 0 and book.in_stock_rent == 0 %}

                                 <div class="purchase-details">

                                    <div class="price-display">

                                        <p style="margin-top: 10px;">Buy &nbsp:&nbsp रु. {{ book.mrp_price|to_int  }}</p>


                                    </div>

                                    <div class="purchase-button">

                                        <button style="margin-left: 0;" class="restocked-button"> BUY THE BOOK </button>

                                    </div>

                                </div>





                            {% else %}

                                <div class="purchase-details">

                                    <div class="price-display">

                                        <p>Rent &nbsp:&nbsp रु. {{ book.rental_price|to_int  }}/day</p>
                                        <p>Buy  &nbsp&nbsp:&nbsp रु. {{ book.mrp_price|to_int  }}</p>


                                    </div>

                                    <div class="purchase-button">
                                        <button> RENT </button>
                                        <button> BUY </button>

                                    </div>

                                </div>


                            {% endif %}


                        </div>
                    </div>


                {% endfor %}




                 <div class="arrow-select arrow-right-next">

                    <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMmM1LjUxNCAwIDEwIDQuNDg2IDEwIDEwcy00LjQ4NiAxMC0xMCAxMC0xMC00LjQ4Ni0xMC0xMCA0LjQ4Ni0xMCAxMC0xMHptMC0yYy02LjYyNyAwLTEyIDUuMzczLTEyIDEyczUuMzczIDEyIDEyIDEyIDEyLTUuMzczIDEyLTEyLTUuMzczLTEyLTEyLTEyem0yIDEybC00LjUgNC41IDEuNTI3IDEuNSA1Ljk3My02LTUuOTczLTYtMS41MjcgMS41IDQuNSA0LjV6Ii8+PC9zdmc+">


                 </div>

            </div>
        </div>








{% endblock %}