@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap');

:root{
    --default-color: #03989e
}

*{

    font-family: Raleway,Roboto,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

a{
    color: #0C999E;
}

a:hover{
    font-size: 16px;
}

p, h1, h2, h3{

    color: #3a3a3a;
    -webkit-font-smoothing: antialiased;

}

h4{
    color: #1b6d85;
}

h1,h2,h3,h4{
    color: #141414;
}

input {
 caret-color: black;
    border-radius: 5px;
}

button{
    outline: none;
}


input:focus{
    outline: none;
}

body{
    background: white;
    height: 100%;

}

.search{
    display: none;
}

.no-view{
    display: none;
}

.out-of-stock{
    color: red;
    margin-top: 25px;
}

.main-content-wrapper .go-opacity{
    opacity: 1;
}

.cart-added-display{
    position: fixed;
    top: 90%;
    box-shadow: 6px 6px 6px 6px rgb(32 33 36 / 28%);
    border: none;
    background-color: #504949;
    border-radius: 10px;
    padding: 10px;
    left: 40%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    z-index: 300;

}

.cart-added-display p{
    color: white;
}

.cart-added-display-show{
    visibility: visible;
    opacity: 1;
}

                                                                            /*          NAVIGATION MENU DESKTOP VIEW        */

nav{
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    width: 97%;
    margin: 0 auto;
    height: 60px;
    background: white;
    z-index: 300;


}

nav .left-menu{
    display: flex;
    flex: 1;
    align-items: center;
    height: 80px;
}

nav .left-menu div{
    margin: 0 13px;
    font-size: 30px;
    cursor: pointer;

}

nav .left-menu .hamburger img:hover{
    height: 26px;
    width: 26px;
    color: springgreen;
}





/* SEARCH*/

.search-home-wrap{




}


.search-box-wrapper{
    display: flex;
    justify-content: center;
}

.search-box-wrapper  .search-box{
    margin: 35px  auto;
    width: 70%;
    height: 45px;
    font-size: 15px;
    padding: 10px;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    /*border: 1px solid #cbe4f1;*/
    border: none;

    /*border-radius: 10px;*/

}


.search-box-wrapper .search-box::-webkit-search-cancel-button{
    position:relative;
    font-size: 20px;
    margin-right: 5px;
    display: none;


}

.search-button-wrapper{
    display: flex;
    justify-content: center;

}

.best-sellers .search-button-wrapper .search-button{
    margin: 10px 0;
    width: 12%;


}

.best-sellers .search-button-wrapper .search-button:hover{
    font-size: 15px;
    color: var(--default-color);
}


.search-button-wrapper .search-button{
    margin: -12px 0 10px 10px;
    height: 38px;
    width: 15%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: none;

    border-radius: 5px;
    /*border-radius: 10px;*/
    background-color: white;

    cursor: pointer;

}



#search-end{
    cursor: pointer;
}




/* Search result*/




.search-result-wrapper .search-result{
    background: #fff;
    height: auto;
    width: 50%;

    position: absolute;
    top: 74%;
    left: 25%;
    z-index: 200;
    display: none;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #cbe4f1;
    border-radius: 5px;
    transition: opacity 0.1s ease-in-out;

}

.search-result-wrapper .search-result .search-button-wrapper{
    margin: 30px 20px 0px 20px;

}

.search-result-wrapper .search-result .search-button-wrapper .search-button{
    width: 20%;
    height: 30px;
}

.search-result-wrapper .search-result .search-button-wrapper .search-button:hover{
    font-size: 15px;
    color: var(--default-color);
}


.search-result-each {
    cursor: pointer;
    padding-left: 15px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    font-family: Raleway,Roboto,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-weight: 00;*/

}


.search-result-each:hover{

    background-color: #e8eaed;
}


.logo{
    display: flex;
    align-items: center;
    height: 70px;
    flex: 1;
    justify-content: center;
}

.logo img{
    height: 140px;
    width: auto;
    margin-left: 12px;
    margin-top: 12px;
    cursor: pointer;

    transform: rotate(-0.6deg);
}

nav .right-menu{
    display: flex;
    margin-right: 13px;
    flex: 1;
    height: 70px;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

nav .right-menu div{
    cursor: pointer;
}



nav .right-menu .accounts{
    margin-left: 13px;
}

nav .right-menu .accounts img{
    height: 27px;
}


nav .right-menu .accounts img:hover{
    height: 30px;
    width: 28px;

}

nav .right-menu .shopping-cart{
    margin: 0 13px;
    cursor: pointer;
}


#cart-icon{
    border: none;
    background: white;
}

#cart-item-count{
    margin-left: -5px;
    color: #1b6d85;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.nav-desktop-view{
    display: flex;

}



/*SECONDARY NAV*/

.secondary-nav{
    position: fixed;
    overflow: hidden;
    top: 60px;
    left: 0;
    width: 100%;
    height: auto;
    background: white;
    z-index: 300;

}

.book-list-category{
    display: flex;
    justify-content: center;
}

.book-list-category li{
    margin: 10px 15px;
    font-size: 14px;
    font-family: "Halvetica Nue","Roboto","Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    cursor: pointer;
    line-height: 20px;
    color: #162d3d;

}

.book-list-category li:hover{
    font-size: 15px;
    color: var(--default-color);
}

.no-view{
    display: none!important;



}


/* INDEX BODY WRAPPER */


.body-wrapper{
    width: 95%;
    margin: 70px auto;
    height: auto;

}

/* Banner*/

.banner-wrapper{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.banner-collection{
    width: auto;
    height: 400px;
    display: flex;
    overflow: hidden;
    flex: 4;
}

.banner-wrapper svg{
    flex: 0.1;
}



.each-banner{
    width: 0;
    transition: width 0.3s ease-in-out;


}

.banner-active{
    width: 100%;

}

#next-banner-btn, #prev-banner-btn{
    cursor: pointer;

}


/*  SIDE BAR   */



.side-bar{
    position: fixed;
    top: 0;
    background-color: white;
    height: 100%;
    width: 17%;
    z-index: 300;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    box-shadow: 6px 6px 6px 6px rgb(32 33 36 / 28%);
    overflow: auto;
}

.side-bar-header{
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.side-bar-header h2{
    padding: 17px 10px;
    font-weight: 400;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif
    /*font-size: 15px;*/
}

.side-bar-category-wrapper{
    padding-left: 10px;
    padding-bottom: 17px;

}

.side-bar-category{
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.side-bar-category:hover{
    margin-left: 5px;

}


.side-bar-category a{
    /*margin: 10px 15px;*/
    font-size: 14px;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 500;*/
    cursor: pointer;
    line-height: 20px;
    color: #162d3d;
}

/*.side-bar-category a:hover{*/
/*    color: var(--default-color);*/
/*}*/

.side-bar-category-wrapper-main:hover .side-bar-category a{
    color: var(--default-color);
    margin-left: 2px;

}

.side-bar-category svg{
    height: 10px;
    fill: var(--default-color);
}

.side-bar-category-details-wrapper{
    padding: 10px 10px;
    position: fixed;
    z-index: 300;
    height: auto;
    width: auto;
    left: 16.5%;
    margin-top: -45px;
    background-color: white;

    font-family: "Baloo Paaji 2", cursive;
    box-shadow: 6px 6px 6px 6px rgb(32 33 36 /28%);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    overflow: auto;


}



.side-bar-category-details{

    margin: 5px 2px;
}

.side-bar-category-details a{
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: 500;*/
    cursor: pointer;
    line-height: 20px;
    color: #162d3d;

}

.side-bar-category-details a:hover{
    color: var(--default-color);
    margin-left: 2px;

}


.close-side-bar svg{
    /*height: 20px;*/
    /*width: 20px;*/
    cursor: pointer;
    float: right;
    margin: 20px;
}

.best-sellers{
    /*width: 95%;*/
    margin: 50px auto;
}

.best-sellers > h2{
    color: var(--default-color);
    /*font-family: Helvetica Neue", Helvetica, Arial, sans-serif;*/
    text-align: center;
}

.best-sellers .the-books-wrapper{
    margin: 25px 0;
    display: flex;
    justify-content: space-between;
}


.rental-popup-wrapper{
    height: auto;

    width: 500px;
    position: fixed;

    top: 28%;
    left: 32%;
    background-color: white;
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    box-shadow: 6px 6px 6px 6px rgb(32 33 36 / 28%);
    border-radius: 10px;
    z-index: 300;
    text-align: center;

    /*cursor: pointer;*/
    /* background-color: #92D4E2; */

}

.faqsp{
    font-size: 12px;
    margin-top: -18px;
}

.faqspone{
    font-size: 12px;
    margin-top: -18px;

}



.toggle-display-body{
    opacity: 0.1;
}


.close-btn{
    position: absolute;
    left: 92%;
    top: 6%;
}


.close-btn img{
    height: 15px;
    cursor: pointer;
}


.content-wrapper-rental-popup{
    padding: 20px;

}

.content-wrapper-rental-popup > h4{
    margin: 25px;
    text-align: left;
}


.dpflex{
    display: flex;
    margin: 25px;

}

.dpflex img{
    height: 15px;
    margin-left: 10px;
    cursor: pointer;
    transform: translateY(20%);
}

.watch-a-video{
    margin-left: 25px;
    font-size: 12px;
    margin-top: 10px;

}




.wish-list-book{
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 20px;
    color: white;
}


/* USER PROFILE NAVIGATE */

.user-profile-wrapper{
    position: fixed;
    top: 57px;
    left: 78%;
    height: auto;
    overflow: auto;
    width: 20%;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 6px 6px rgba(32,33,36,.28);
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-top: 1px solid #cbe4f1;
    border-bottom: 1px solid #cbe4f1;
    border-left: 1px solid #cbe4f1;
    border-right: 1px solid #cbe4f1;
    z-index: 300;
    border-radius: 10px;
}


.user-profile-wrapper .user-details-wrapper{
    margin: 30px 20px;

}

.user-profile-wrapper .user-details-wrapper .user-img{
    vertical-align: top;
}

.user-profile-wrapper .user-details-wrapper .user-img img{
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 50%;

}

.user-profile-wrapper .user-details-wrapper .update-profile-img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 80px;
    left: 57%;
    cursor: pointer;

    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);

}

.user-profile-wrapper .user-details-wrapper .update-profile-img button{
    border: none;
    background-color: #FFFFFF;
    margin: 5px 0;
    cursor: pointer;
}

.user-profile-wrapper .user-details-wrapper .update-profile-img button img{
    height: 15px;
    width: 15px;
}

.user-profile-wrapper .user-details-wrapper .user-name{
    color: black;
    font-family: Raleway,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 500;
    /*letter-spacing: .29px;*/
    margin: 10px 0 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
}

.user-profile-wrapper .user-details-wrapper .user-email{
    color: #5f6368;
    font: 400 14px/19px Raleway,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: normal;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0 0;
}

.user-profile-wrapper .user-details-wrapper .user-account-manage{
    background-color: #ffffff;
    border: 1px solid #dadce0;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    color: #3a3a3aw;
    display: inline-block;
    font: 500 14px/16px Raleway,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    letter-spacing: .25px;
    margin: 16px 0 0;
    max-width: 254px;
    outline: 0;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}

.user-profile-wrapper .user-details-wrapper .user-account-manage:hover{
    background-color: gainsboro;
}


.user-profile-wrapper .account-details-wrapper{
    border-bottom: 1px solid #e8eaed;
    border-top: 1px solid #e8eaed;


}

.user-profile-wrapper .account-details-wrapper .account-detail{
    height: 40px;
    cursor: pointer;




}


.user-profile-wrapper .account-details-wrapper .account-detail p{
    transform: translateY(55%);
    font-size: 15px;
    font-family: Raleway,Roboto,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;

}


.user-profile-wrapper .account-details-wrapper .account-detail:hover{
    background-color: #e8eaed;
}





.user-profile-wrapper h3{
    margin: 20px 0;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.user-profile-wrapper .user-profile-form{
    margin: 30px auto;
    text-align: center;
}

.reset-forget-wrapper{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    font-size: 12px;
}

.reset-forget-wrapper a:hover{
    font-size: 13px;
}

.user-profile-wrapper p{
    text-align: center;
    font-size: 18px;
}

.social-login{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;

}

.social-login  button{
    width: 100%;
    height: 30px;
    margin: 5px auto;
    align-items: center;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #007dc3;
    border-radius: 3px;
    cursor: pointer;
}

.social-login small{
    font-size: 8px;
}

.user-profile-submit-button{
    width: 80%;
    height: 30px;
    margin: 30px auto;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border: none;
    border-radius: 5px;
    /* border-radius: 10px; */
    background-color: white;
    cursor: pointer;
}


.user-cart-wrapper{
    position: fixed;
    top: 57px;
    left: 70%;
    height: 500px;
    overflow: hidden;
    width: 25%;
    text-align: center;
    background-color: white;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-shadow: 6px 6px 6px 6px rgba(32,33,36,.28);
    border-top: 1px solid #cbe4f1;
    border-bottom: 1px solid #cbe4f1;
    border-left: 1px solid #cbe4f1;
    border-right: 1px solid #cbe4f1;
    z-index: 300;
    border-radius: 10px;


}

.top-cart-display{
    height: 88%;
    overflow: scroll;

}


.empty-cart .no-cart-content-img{
    height: 400px;
    width: 250px;
    margin: 50px 0;
}

.user-cart-wrapper .close-side-bar{
   height: 40px;
    margin: 0 10px;

}

.user-cart-wrapper .close-side-bar img{
    height: 17px;
}

.user-cart-wrapper .cart-product-wrapper{
    margin: 20px 15px;
    display: flex;
    justify-content: flex-start;
}

.user-cart-wrapper .cart-product-wrapper img{
    height: 80px;
    width: 60px;
}

.user-cart-wrapper .cart-product-wrapper .cart-product-details{
    width: 65%;
    margin: auto 10px;

}

.user-cart-wrapper .cart-product-wrapper .cart-product-details .book-author-name{
    color: #438398;
}

.user-cart-wrapper .cart-product-wrapper .cart-product-details h3, h5{
    font-family: Raleway,"Roboto","Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #3A3A3A;
    margin: 2px 0;
}

.user-cart-wrapper .cart-product-wrapper .cart-product-details h5{
    font-size: 10px;
    color: #5f6368;
    text-align: left;

}

.user-cart-wrapper .cart-product-wrapper .cart-product-details h3{
    font-size: 14px;
    margin: 0;
    text-align: left;
}

.user-cart-wrapper .cart-product-wrapper .cart-product-details .cart-cost-display{
    font-size: 13px;
    margin-top: 5px;
    font-family: Roboto, HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.user-cart-wrapper .cart-product-wrapper .cart-item-remove{
    margin: auto;
    float: right;
    cursor: pointer;

}

.user-cart-wrapper .cart-product-wrapper .cart-product-details .rent-buy-option{
    color: #1b6d85;
    float: left;

}

.user-cart-wrapper .cart-product-wrapper .cart-item-remove img{
    height: 20px;
    width: 20px;
}


.user-cart-wrapper .cart-product-wrapper .cart-product-details a{
    font-size: 15px;
    color: #007dc3;
}


.user-cart-wrapper .cart-submit-button{

    display: flex;
    position: absolute;
    top: 87%;
    justify-content: center;
    width: 100%;
}
.user-cart-wrapper .cart-submit-button button{

    margin: 20px 10px;

    width: 40%;

    font-size: 13px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #cbe4f1;
    /* border-radius: 10px; */
    background-color: white;
    cursor: pointer;
    height: 35px;
}






.user-cart-wrapper .search-button-wrapper .search-button{
    margin-top: -8%;
    height: 38px;
    width: 50%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #cbe4f1;
    font-size: 14px;
    background-color: white;
    cursor: pointer;

}

.user-cart-wrapper .search-button-wrapper .search-button:hover{
    font-size: 16px;
}


/*     ARROW     */


.arrow{
    position: fixed;
    top: 50px;
    left: 96.3%;
    border: solid #cbe4f1;
    background-color: white;
    border-width: 0 1px 1px 0;
    padding: 7px;
    z-index: 300;
}


.arrow-cart{
    position: fixed;
    top: 50px;
    left: 92.4%;
    border: solid #cbe4f1;
    background-color: white;
    border-width: 0 1px 1px 0;
    padding: 7px;
    z-index: 300;

}


.up{
    -webkit-transform: rotate(-135deg);
}

.left{
    -webkit-transform: rotate(137deg);

}




/*                     Footer           */  

.footer-wrapper{
    height: auto;
    width: 80%;
    margin: 50px auto;
    font-size: 15px;
    /* text-align: center; */
    background-color: white;
    display: flex;


}

.footer-wrapper > div{
    margin: 0 30px;

}

.footer-wrapper h3{
        /* color: #9e9ea7; */
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #3a3a3a;

}

.kitabalaya-info{
    flex: 2;
    margin-left: 20px;
}

.kitabalaya-info p{
    margin: 13px 0;
    line-height: 23px;
}

.useful-links{
    flex: 1;


}

.useful-links ul li{
    margin: 15px 0;
}

.contact{
    flex: 2;

}

.contact p{
    line-height: 22px;
}

.contact p:nth-child(2){
    margin: 15px 0;
}

.information{
    flex: 1.5;


}

.information ul li{
    margin: 15px 0;
}


.footer-links{
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;

}

.footer-links img{
    margin: 10px;
    height: 35px;
    width: 35px;
    cursor: pointer;
}



.newsletter{
    width: 90%;
    margin: 50px auto;
    text-align: center;
}


.newsletter .newsletter-text img{
    height: 250px;
    width: 100%;
}

.newsletter form .search-box-wrapper{
    position: relative;
}

.newsletter form .search-box-wrapper .search-box{
    position: absolute;
    top:-200px;
    left: 37%;
    width: 40%;
    margin-bottom: 70px;
}




.cta{
    border: none;
    margin: 20px auto;
    border-bottom: 1px solid #0E999D;
    padding: 10px;
    width: 80%;
    height: 20px;
}


.user-registered-success-modal{
    position: fixed;
    top: 250px;
    left: 530px;
    height: 200px;
    width: 400px;
    background: white;
    z-index: 300;

    box-shadow: 6px 6px 6px 6px rgba(32,33,36,.28);
    border-top: 1px solid #cbe4f1;
    border-bottom: 1px solid #cbe4f1;
    border-left: 1px solid #cbe4f1;
    border-right: 1px solid #cbe4f1;
}


.buttonload {
    width: 80%;
    height: 35px;
    font-size: 15px;
    margin: 30px auto;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #007dc3;
    border-radius: 3px;
    cursor: pointer;
    color: black;
}


.loading-icon{
    padding: 10px;
    font-size: 17px;
    color: #007dc3;
}


/* Message Wrapper  */

.message-wrapper{
    position: fixed;
    top: 150px;
    left: 500px;
    background-color: white;
    height: 200px;
    width: 500px;
    z-index: 300;

    box-shadow: 16px 16px 16px 16px rgba(32,33,36,.28);
    border-top: 1px solid #cbe4f1;
    border-bottom: 1px solid #cbe4f1;
    border-left: 1px solid #cbe4f1;
    border-right: 1px solid #cbe4f1;
    border-radius: 10px;
}

.success-message-display{
    padding: 65px;
    font-size: 17px;
    text-align: center;
    color: #03989E;
    line-height: 25px;
}

.best-sellers .the-books-wrapper .the-book .book-modal .close-side-bar img{
    position: fixed;
    left: 73.2%;
    height: 30px;

}



/* book-modal-display*/


.modal-book-display{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
}


.modal-book{
    height: 300px;
    width: 200px;
    margin: 7% 0;



}

.loading-div{
    height: 300px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    flex: 2;


}

.modal-book > img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    flex: 2;
}

.modal-book-details{
    flex: 1;
    margin: 0 0 0 100px;
}

.modal-book-details hr{
    margin: 10px 0;
}

.modal-book-details h1, h3{
    margin: 12px 0;

}

.modal-book-details h1, h3{
    font-weight: 400;
}

.rating-wrapper{
    display: flex;
    flex: 1;
    margin: 15px 0;
}

.fas, .fa{
    margin: 0 3px;
    color: #d0cccc;
    background-color: white;
    border: none;
    outline: none;
}

.under-line{
    height: 12px;
    color: var(--default-color);
}

.checked{
    color: var(--default-color);
}

.clicked-checked{
    color: var(--default-color);


}

.rating-count{
    margin: 0 15px;
    display: flex;
}

.book-summary{
    margin: 25px 0;
}

/*.book-summary p{*/
/*    font-family: "Baloo Paaji 2", cursive;*/
/*}*/



.book-wishlist-btn{
    margin: 10px 0 0 13%;
    display: flex;

    font-size: 16px;
    cursor: pointer;

}

.book-wishlist-btn p{
    margin: 0 10px;
}


.book-wishlist-btn:hover{
    color: var(--default-color);
    fill: var(--default-color);

}

.authors-genre{
    margin: 10px 0;
}

.authors-genre h3{
    color: #03989e;
}

.authors-genre span{
    font-size: 16px;
    font-weight: 200;
    color: black;
}

.quality-rating{
    display: flex;
    justify-content: space-between;
}


.rent-cart-btn{
    position: fixed;
    height: auto;
    width: 68%;
    top: 80%;
    text-align: right;
}


.rent-cart-btn button{
    margin: 0 10px;
    height: 38px;
    width: 15%;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #cbe4f1;

    /*border-radius: 10px;*/
    background-color: white;

    cursor: pointer;

}

.rent-cart-btn button:hover{
    font-size: 16px;
    color: var(--default-color);
}



/* CATEGORY STYLE*/

.breadcrumbs{
    margin: 20px 0;
    font-family: Raleway, "Roboto", "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

.breadcrumbs .current{
    color: #3A3A3A;
}



.category-wrapper{
    display: flex;
    margin-top: 30px;
    width: 100%;
    height: auto;

}

.featured-category{
    /*width: 93%;*/
    margin: auto;
    display: flex;
    align-items: center;


}

.featured-category svg{
    flex: 0.1;
}


.featured-category .content-banner-wrap{
    display: flex;
    flex: 4;
}

.featured-category .banner-category{
    width: 45%;
    margin: 25px;
}

.featured-category-each{
    width: 30%;
    margin: 20px;
    display: flex;
    height: 300px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    /*background-color: #92D4E2;*/

}

.featured-category-each-cat{
    width: 30%;
    margin: 0 20px 20px 0;
    display: flex;
    height: 300px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    /*background-color: #92D4E2;*/

}


.featured-title-img img{
    height: 185px;
    width: 110px;
    margin: 10%;
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 6px rgb(32 33 36 / 28%);
}


.featured-title-details{
    margin: 5% 7%;
    text-align: left;

}

.featured-category-each .default-height-featured-details{
   height: auto;
}

.cat-style{
    /*color: #9e9ea7;*/
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3a3a3a;
}

.featured-genre-details{
    margin-top: 20px;
    height: 6vh;
    overflow: hidden;
    font-size: 14px;
    text-align: left;

}

.featured-title-details h2{
    font-size: 17px;
    font-weight: 600;
}

.featured-title-details .rating-wrapper{
    margin: 10px 0;

}


.purchase-details{

    display: flex;

}




.price-display{
    /*margin-top: 10px;*/
}

.mt-one{
    margin-top: 25px;
}


.price-display p{
    font-weight: 600;
    /*color: #2a9d8f;*/
}

.remove-btn-cart{
    border: none;
    background-color: white;
    cursor: pointer;
}

.remove-btn-cart:hover{
    background-color: white;
}



.purchase-details .purchase-button{
    position: absolute;
    display: flex;
    justify-content: center;

    top: 80%;
    left: 13%;
}

.purchase-details  button{
    margin-left: 10px;
    width: 9vw;
    height: 33px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: none;
    border-radius: 5px;
}

.addtocart{
    width: 12vw;
    height: 33px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border: 1px solid #cbe4f1;
    /*position: absolute;*/
    /*left: 33%;*/
    /*top: 80%;*/


}


.purchase-details .restocked-button{
    width: 14vw;
    transform: translateX(25%);
}


button:hover{
    color: var(--default-color);
    background-color: #f6f6f6;
    font-size: 14px;
}

/*.purchase-button .dropdown img{*/
/*    height: 13px;*/
/*    width: 13px;*/
/*    position: absolute;*/
/*    left: 93%;*/
/*    top: 28%;*/
/*}*/


/*.buy-rent-dropdown{*/
/*    position: absolute;*/
/*    font-size: 13px;*/
/*    left: 50%;*/

/*}*/

.buy-rent-dropdown button p{
    text-align: center;
    color: black;

}


.buy-rent-dropdown button{
    width: 10vw;
    height: 30px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-bottom: 1px solid #cbe4f1;


}


.buy-rent-dropdown button:hover{
    background-color: #e8eaed;

}





/**/
.arrow-transform{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

.arrow-select{
    display: flex;
    align-items: center;
    margin-top: -2%;
    cursor: pointer;
}


.arrow-select img{
    height: 30px;
    width: 30px;
}



.author-name{
    color: #1b6d85;
    text-align: center;
}

.breadcrumb-wrapper ul{
    display: flex;
    justify-content: flex-start;

}

.breadcrumb-wrapper ul li{
    font-size: 14px;
    margin: 20px 0;
    font-family: "Roboto","Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    cursor: pointer;
}
.breadcrumb-wrapper ul li:not(:first-child):before{
    content: '>';
    padding: 3px;
}


.category-descendent{
    display: flex;
    justify-content: center;
    margin: 60px auto 20px auto;
    width: 100%;
    /*text-align: center;*/
}


.filter-wrapper{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.filter-wrapper .sorting-wrapper{
    margin: 0 30px;
}



.title-header-category{
    font-size: 17px;
    font-weight: 500;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3a3a3a;


}

.title-header-category:after{
    display:block;
    content: '';
    border-bottom: solid 3px #019fb6;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;

}

.title-header-category.on-hover:after { transform: scaleX(1); }
.title-header-category.on-click:after { transform: scaleX(1); }
/*.title-header-category.fromRight:after{ transform-origin:100% 50%; }*/
/*.title-header-category.fromLeft:after{  transform-origin:  0% 50%; }*/







.category-descendent .descendents{
    display: flex;
    justify-content: center;

}

.category-descendent .descendents h2{
    justify-content: flex-start;
    flex: 1;

}


.category-descendent .descendents ul{
    display: flex;
    justify-content: flex-end;
}

.category-descendent .descendents ul li{
    margin: 0 15px;
    cursor: pointer;
}

.category-descendent .sorting-wrapper{
    /*position: relative;*/
    /*left: 80%;*/
    /*top: -27px;*/
    height: 20px;
}

.sorting-container{
    cursor: pointer;
    /*box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);*/
    border-bottom: 1px solid #cbe4f1;
    border-top: none;
    border-left: none;
    border-right: none;
    /*border-radius: 5px;*/
    padding: 5px;
    outline: none;


}
.filter-category{

    width: 20%;
    margin-right: 20px;
    font-size: 14px;
}

.category-genre-wrap, .category-lang-wrap, .category-price-wrap, .category-gen-sort-wrap{
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    border-radius: 5px;
    padding: 10px;
    height: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 20px;
}

.filter-category-heading{
    font-weight: 600;
}

.filter-category-heading::after{
      content: '';
      /*border-bottom: 1px solid #3a3a3a;*/
      width: auto;
      display: block;
        margin: 10px 0;

}




.each-category-genre{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}


.each-category-genre input{
    margin-right: 10px;
    cursor: pointer;
}


.book-display-category{
    display: flex;
    width: 80%;
    /*padding-left: 60px;*/
    justify-content: flex-end;
    /*overflow: hidden;*/
    flex-wrap: wrap;
    /*width: 90%;*/
    /*margin: auto;*/
}

.book-display-category .featured-category-each-cat{
    margin-bottom: 60px;
    margin-right: 20px;
}

.book-display-category .featured-category-each-cat .featured-title-img img{
    height: 19vh;
    width: 6vw;
    object-fit: contain;
}

.book-each{
    height: 270px;
    width: 170px;
    background-color: white;
    margin: 40px 40px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    border-bottom: 1px solid #cbe4f1;
    border-top: 1px solid #cbe4f1;
    border-radius: 10px;
}

.book-each img{
    height: 270px;
    width: 170px;
    padding: 5px;
    border-radius: 15px;
}


.book-display-category .purchase-details .purchase-button{
    left: 8%;
    top: 81%;

}

.purchase-details button{
    height: 33px;
    width: 8vw;


}


.rating-btn{
    fill: #1b6d85;
}


.book-display-category .price-display{
    margin-top: 15px;
}

.book-display-category .restocked-button{
    width: 14vw;
    transform: translateX(12%);
}

.book-display-category h2{
    font-size: 17px;
}

.book-display-category small{
    font-size: 11px;
}

.book-display-category .featured-genre-details{
    font-size: 13px;
}


.book-display-category .price-display{
    font-size: 15px;
}