{% load static %}

<div id="cart-product-wrapper-clone"   class="cart-product-wrapper no-view">
    <img class="book-image" src="{% static 'core/img/9780099458326_11.jpg' %}" alt="">


    <div class="cart-product-details">
        <h3 class="book-title">Kafka on the Shore</h3>
        <h5 class="book-author-name">By Haruki Murakami</h5>

        <h3 class="cart-cost-display">Rent: Rs.1000</h3>
{#        <h5>Refundable Deposit: Rs.800</h5>#}
    </div>
    <form class="cart-item-remove" action="{% url 'display-cart' %}" method="post">
        {% csrf_token %}
        <button class="remove-btn-cart" type="submit">
            <svg  xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#3A3A3A">
                <path d="M0 0h24v24H0V0z" fill="none"/>
                <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"/>
            </svg>
        </button>

    </form>
</div>
