<div class="filter-category">

               {% if contain_genre_wrap %}
                    {% include 'core/snippets/filtered-side-bar-genre.html' %}
                {% endif %}
                <div class="category-lang-wrap">
                    <p class="filter-category-heading">Sort by Language</p>
                        {% for language in languages %}

                            <form method="GET" action="{% url 'get-filtered' %}" data-category-slug="{{ category }}"  class="each-category-language">
                                {% csrf_token %}
                                <input value="{{ language.slug }}" type="checkbox">
                                <p>{{ language }}</p>
                            </form>
                        {% endfor %}




                </div>

                <div class="category-price-wrap">
                    <p class="filter-category-heading">Sort by Price</p>
                        <form class="each-category-price" method="GET" action="{% url 'get-filtered' %}" data-category-slug="{{ category }}"  >
                            <input value="ltoh" type="checkbox">
                            <p>From Low to High</p>
                        </form>

                        <form class="each-category-price" method="GET" action="{% url 'get-filtered' %}" data-category-slug="{{ category }}"  >
                            <input value="htol" type="checkbox">
                            <p>From High to Low</p>
                        </form>
                </div>


                 <div class="category-gen-sort-wrap">
                    <p class="filter-category-heading">Sort by:</p>
                     {% for sort_cat in sort_category %}
                         <form class="each-category-sort" method="GET" action="{% url 'get-filtered' %}" data-category-slug="{{ category }}" >
                                {% csrf_token %}
                                <input value="{{ sort_cat.slug }}" type="checkbox">
                                <p>{{ sort_cat }}</p>
                         </form>



                     {% endfor %}



                </div>









        </div>
