{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script data-ad-client="ca-pub-2321020705104304" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <!-- <meta name="viewport" content="width=device-width, height=device-height"> -->

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="WAba9Dz03oscuoNsl7n1a11bYbM86hbOHpnqQUN1nEk" />
    <meta property="og:image" content="https://www.facebook.com/kitabalayabookabook/photos/p.107721337469224/107721337469224/?type=1&theater" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href={% static 'comingsoon/css/style.css' %}>
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="static/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/img/icons/favicon-16x16.png">
    <link rel="manifest" href="static/img/icons/site.webmanifest"> -->


    
    <title>Kitabalaya:Book a book</title>
</head>
<body>

    <header>

        
        <nav>
            <ul class="nav-links">
                <!-- <li><a class="nav-link" href="#">HOME</a></li> -->
                <!-- <li><a class="nav-link" href="about.html">ABOUT</a></li> -->
                
                <li><img class="logo" src="{% static 'comingsoon/img/kitabalaya-logo.png' %}" alt="Kitabalaya:Book a book"></li>
                <!-- <li><a class="nav-link" href="contact.html">CONTACT</a></li>   -->
                <!-- <li> <a class="nav-link" href="blog.html">BLOG</a></li>    -->
                
                            
            </ul>  
            
            <div class="logo-container">
                <img class="logo" src="{% static 'comingsoon/img/kitabalaya-logo.png' %}" alt="Kitabalaya:Book a book">
                
            </div>
    
            <!-- <div class="burger">
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="item3"></div>
            </div> -->
    
            
        </nav>            
    </header>

    <main>
            
        <!-- <h2 class="value-prop">“I have always imagined that Paradise will be a kind of library.”</h2> -->
        <h2 class="value-prop">“Good friends, Good books and Kitabalaya”</h2>

        <h2 class="value-prop-mobile1">Good friends,</h2>
        <h2 class="value-prop-mobile2 h2">Good books &</h2>
        <h2 class="value-prop-mobile3 h2">Kitabalaya.</h2>

       
        <p class="value-prop-main">― Mark Twain Inspired</p> 

        <div class="presentation">

            <!-- <div class="hero-shot">
                <img src="static/img/hero-shot.png" alt="Kathalaya is coming soon!!!">
            </div> -->

            <div class="intro">               
                <h2 class="value-defination1 ">KITABALAYA IS OPENING SOON !!!</h2>
                <!-- <h2 class="value-defination1p1 ">SOON !!!</h2> -->

                <h2 class="value-defination-mobile ">Kitabalaya is opening Soon !!!</h2>



                <p class="value-defination2"></p> Get early access and special privilege when we launch. </p>
                <p class="value-defination3">SUBSCRIBE NOW !!!</p>

                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                     <br>

                    <button type="submit" class="cta-submit">Notify Me</button>

                </form>
                 {% if messages %}
                        {% for message in messages %}
                            {% if color %}
                            <div style="margin-top: 20px; color: red;">

                                    {{ message }}

                            </div>
                            {% else %}
                                <div style="margin-top: 20px; color: green;">

                                    {{ message }}

                            </div>
                            {% endif %}


                        {% endfor %}
                {% endif %}





                <div class="link-icons">
                    <a target="_blank" href="https://www.instagram.com/kitabalaya"><i class="fab fa-instagram fa-2x link-icon"></i></a>
                    <a target="_blank" href="https://www.facebook.com/kitabalayabookabook"><i class="fab fa-facebook fa-2x link-icon"></i></a>
                    <a target="_blank" href="https://www.twitter.com/kitabalaya"><i class="fab fa-twitter fa-2x link-icon"></i></a>
                </div>                
            </div>
        </div>
    </main>








<script src="{% static 'comingsoon/js/main.js' %}"></script>


</body>
</html>