<h3>Greeting from Kitabalaya,</h3>

<p>You're receiving this email because you have subscribed to Kitabalaya's Newsletter at www.kitabalaya.com</p>

<p>You have subscribed using the following email: {{ email }} </p>

<p>If you want to register with us. Please follow the link below:</p>

<br>

<p><a href='{{ path }}'> {{ path }} </a></p>
<br>
<p>Once you have registered with us, you can login at www.kitabalaya.com</p>

<p>Thank you for subscribing.</p>

<p>Kitabalaya: Book a book</p>
<p>Good Friends, Good Book and Kitabalaya.</p>

<h1>The Kitabalaya Team</h1>
